name = "signaler-worker"
main = "index.js"
compatibility_date = "2025-11-30"

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_classes = ["RoomDO"]
